services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
    ports:
      - "5438:5432"
    volumes:
      - ./data:/var/lib/postgresql/data